# Ignore

## root folders & dot-files
/*/
.*

## logs
*.log*

## yarn
.yarn/cache/
.yarn/install-state.gz

## npm
package-lock.json

## package
*.tgz

# Authorize

## folders
!/.github/
!/.storybook/
!/.yarn/
!/src/

## dot-files
!/.babelrc
!/.eslintrc
!/.npmignore
!/.prettierrc.js
!/.yarnrc.yml
