name: Lint

on: [push, pull_request]

jobs:
  build:
    runs-on: ubuntu-latest
    name: Lint code
    steps:
      - uses: actions/checkout@v3
      - name: Install requirements
        run: npm ci --legacy-peer-deps
      - name: Run lint and prettier
        run: npm run lint:ci & npm run prettier:ci
